<h1><%= @task[:title] %></h1>
<p><%= @task[:details] %></p>
<input type="checkbox" name="completed" <%= "checked" if @task[:completed] %>> This Task is completed
<p><%= link_to "DELETE!!!", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>

